{% comment %}
Quantity input personalizado estilo Fit Dealers

Requiere:
- variant: {Object} Variant object
{% endcomment %}

<quantity-input class="quantity cart-quantity">
  <div class="flex items-center justify-center gap-6 my-4">
    <button
      type="button"
      name="minus"
      class="w-10 h-10 rounded-full bg-black text-yellow-400 flex items-center justify-center text-xl font-bold focus:outline-none"
      onclick="this.nextElementSibling.stepDown(); this.nextElementSibling.dispatchEvent(new Event('change'))">
      −
    </button>

    <input
      id="Quantity-{{ variant.id }}"
      type="number"
      name="quantity"
      value="{{ variant.quantity_rule.min }}"
      min="{{ variant.quantity_rule.min }}"
      {% if variant.quantity_rule.max != null %}
        max="{{ variant.quantity_rule.max }}"
      {% endif %}
      step="{{ variant.quantity_rule.increment }}"
      class=" w-10 bg-transparent border-none text-lg font-semibold"
      data-index="{{ variant.id }}"
      data-target="quantity-input-{{ variant.id }}"
    />

    <button
      type="button"
      name="plus"
      class="w-10 h-10 rounded-full bg-black text-yellow-400 flex items-center justify-center text-xl font-bold focus:outline-none"
      onclick="this.previousElementSibling.stepUp(); this.previousElementSibling.dispatchEvent(new Event('change'))">
      +
    </button>
  </div>
</quantity-input>
