<style>
.recommended_products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
}

</style>

<div class="page-width px-4 py-8">
  <productos-recomendados 
    data-url="{{ routes.product_recommendations_url }}?limit={{ section.settings.number_of_products }}"
    data-product-id="{{ product.id }}" data-section-id="{{ section.id }}">


    {% if recommendations.performed and recommendations.products_count > 0 %}
    <h2 class="text-2xl font-bold mb-6 text-center">Productos recomendados</h2>

    <ul class="recommended_products-grid">
      {% for recommendation in recommendations.products %}
      <li>
        {% render 'card-product', card_product: recommendation %}
      </li>
      {% endfor %}
    </ul>
    {% endif %}

  </productos-recomendados>
</div>

<script src="{{ 'productos-recomendados.js' | asset_url }}" defer="defer"></script>

{% schema %}
{
  "name": "Productos recomendados",
  "settings": [
    {
      "type": "range",
      "id": "number_of_products",
      "label": "Número de productos automáticos",
      "min": 1,
      "max": 10,
      "step": 1,
      "default": 4
    }
  ],
  "blocks": [
    {
      "type": "producto_manual",
      "name": "Producto manual",
      "settings": [
        {
          "type": "product",
          "id": "producto",
          "label": "Selecciona un producto"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Productos recomendados",
      "category": "Productos",
      "blocks": []
    }
  ]
}
{% endschema %}
